@color-primary: #333;
@color-white: #fff;
@color-purple: #8841da;
@color-blue: #012179;
@text-size: 16px;

.shadow-card {
	box-shadow: 0px 5px 15px 0px fade(@color-primary, 10%);
}

/* Funcion con parametro - mixin */
.font(@font-size) {
	font-size: @font-size;
	line-height: @font-size + 10%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
	.font(@text-size);
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
}
