-var name = "Preprocesadores"
-var title = "Titulo principal"
-var subtitle = ["Uno", "Dos"]
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Preprocesadores 
        link(rel="stylesheet", href="")
    body
    header
        h1= name
        a.button Inicio
    section.intro 
        div.intro__picture: img(src="", alt="")
        .intro__text 
        h2 #{title}
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry
            span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a.button Leer mas
    main
    footer
