extend components/template.pug
block content
    section.intro 
        div.intro__picture: img(src="", alt="")
        .intro__text 
            h2 #{title}
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry
                br
                span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            a.button Leer mas
    main.main_container
        section.container_cards
            +card('', '',cardtitle[0],'Proin dapibus massa nisl, nec fringilla elit laoreet nec. Pellentesque ultricies augue pharetra, bibendum elit nec, faucibus ex.')
            +card('', '',cardtitle[1],'Donec imperdiet, nulla eget suscipit dapibus, arcu nibh pharetra magna, a rutrum sem est nec nunc.')
            +card('', '',cardtitle[2],'Aliquam fermentum turpis sit amet dui efficitur, eget placerat lectus convallis.')
