-var name = "Preprocesadores"
-var title = "Titulo principal"
-var usuario = "styven"
-var cardtitle = ["Tarjeta uno", "Tarjeta dos", "Tarjeta tres"]
-var info = ["Acerca", "Noticias","Contacto"]
mixin card(picture, categorie, title, text)
    .box
        .box__picture: img(src="../assets/"+picture, alt="")
        .box__container 
            span.box__categorie #{categorie}
            h3 #{title} 
            p #{text}
            a Leer Mas